@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KlubPRO</h1>
    <p class="lead">KlubPRO to aplikacja do zarządzania klubem piłkarskim. </p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Więcej o autorze &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prosta</h2>
        <p>
            Prostota wyglądu to coś, na co stawiamy.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Czytaj więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Łatwa</h2>
        <p>Wszystkie funkcje są przejrzyste, dzięki czemu łatwo obsługiwać aplikację. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Czytaj więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Przyjemna</h2>
        <p>Czas poświęcony piłce nożnej jest przyjemny, dlatego nasza aplikacja ma być taka sama w obsłudze. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Czytaj więcej &raquo;</a></p>
    </div>
</div>